# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache
.idea

# Distribution / packaging
*.egg-info/
*.egg
/.venv

# VS Code
.vscode/

# Data
data/output/*
data/testdata/
data/input/privat_test_data

# Gitkeep
!.gitkeep
