# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache

# Distribution / packaging
*.egg-info/
*.lock
*.egg
/.venv

# Sphinx documentation
docs/build
docs/source/unco/

# VS Code
.vscode/

# Data
data/output/*
tests/testdata/*

# Fuseki
src/unco/features/server_starter.bat

# Gitkeep
!.gitkeep
