# local package
-e ./src

# doku libs
autodoc
Sphinx
sphinx-autobuild
sphinx-rtd-theme
rstcheck

# external requirements
pytest # testing
tqdm # progress bars
pandas # data manipulation
rdflib # rdf-graphs
colorama # colored printings
requests # communication between python and fuseki server
pathlib
psutil # close fuseki console