# local package
-e ./src

# doku libs
#wheel
#autodoc
#Sphinx
#sphinx-autobuild
#sphinx-rtd-theme
#rstcheck

# external requirements
# pytest==7.3.1 # testing
# tqdm==4.65.0 # progress bars
pandas==2.0.1 # data manipulation
rdflib==6.3.2 # rdf-graphs
requests==2.30.0 # communication between python and fuseki server
pathlib==1.0.1
psutil==5.9.5 # close fuseki console
matplotlib==3.7.1
isodate==0.6.1

# UI
streamlit == 1.22.0